@page "/companies/index"
@using Microsoft.AspNetCore.Authorization
@using AdminDashboard.Wasm.Models.BusinessPartner
@inject NavigationManager NavigationManager
@inject HttpClient Http
@attribute [Authorize]

<MudText Typo="Typo.h5" Color="Color.Primary" Class="mb-4">Business Partners</MudText>

<MudButton Icon="@Icons.Material.Filled.Add" Style="margin-bottom: 15px" Color="Color.Primary" OnClick="AddNewCompany">Register new partner</MudButton>

@if (companies == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <MudTable RowStyle="cursor: pointer;" Items="@companies" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading" LoadingProgressColor="Color.Info" T="BusinessPartnerDetails" OnRowClick="@(contract => CompanyDetails(contract))">
        <HeaderContent>
            <MudTh>Id</MudTh>
            <MudTh>Name</MudTh>
            <MudTh>EmailAddress</MudTh>
            <MudTh>WalletAddress</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Id">@context.Id</MudTd>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="EmailAddress">@context.Email</MudTd>
            <MudTd DataLabel="WalletAddress">@context.WalletAddress</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="new int[] { 1, 5, 10 }" />
        </PagerContent>
    </MudTable>
    @code {
        private bool _hidePosition;
        private bool _loading;
        private List<BusinessPartnerDetails> companies = new List<BusinessPartnerDetails>();

        protected override async Task OnInitializedAsync()
        {
            companies = await Http.GetFromJsonAsync<List<BusinessPartnerDetails>>("/companies/index");
        }

        protected void CompanyDetails(TableRowClickEventArgs<BusinessPartnerDetails> c)
        {
            NavigationManager.NavigateTo($"/companies/{c.Item.Id}/details");
        }

        protected void AddNewCompany()
        {
            NavigationManager.NavigateTo("/companies/add");
        }

    }}