@page "/contracts/index"
@using AdminDashboard.Wasm.Services
@using Microsoft.AspNetCore.Authorization
@using AdminDashboard.Wasm.Models.Contract
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject IAccountService AccountService
@attribute [Authorize]

<MudText Typo="Typo.h5" Color="Color.Primary" Class="mb-4">Contracts</MudText>

<MudButton Icon="@Icons.Material.Filled.Add" Style="margin-bottom: 15px" Color="Color.Primary" OnClick="CreateNewContract">Request new contract</MudButton>

@if (contracts == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <MudTable RowStyle="cursor: pointer;" Items="@contracts" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info" T="Contract" OnRowClick="@(contract => ContractDetails(contract))">
        <HeaderContent>
            <MudTh>Id</MudTh>
            <MudTh>Employee</MudTh>
            <MudTh>Business Partner</MudTh>
            <MudTh>RemainingBalance</MudTh>
            <MudTh>Status</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Id">1</MudTd>
            <MudTd DataLabel="Name">@context.EmployeeName @context.EmployeeSurname</MudTd>
            <MudTd DataLabel="BusinessPartner">Sonovate</MudTd>
            <MudTd DataLabel="RemainingBalance">@context.RemainingBalance</MudTd>
            <MudTd DataLabel="Status">Running</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="new int[] { 1, 5, 10 }" />
        </PagerContent>
    </MudTable>
}

@code {
    private bool _loading;

    private List<Contract> contracts;

    protected override async Task OnInitializedAsync()
    {
        contracts = await Http.GetFromJsonAsync<List<Contract>>("app/v1/contacts/get");

        if (AccountService?.User?.Role != Role.SuperAdmin)
        {
            contracts = contracts.Where(x => x.EmployeeId.ToString() == AccountService.User.Id).ToList();
        }
    }

    protected void ContractDetails(TableRowClickEventArgs<Contract> c)
    {
        NavigationManager.NavigateTo($"/contracts/{c.Item.Address}/details");
    }

    protected void CreateNewContract()
    {
        NavigationManager.NavigateTo("/contracts/add");
    }

}