@page "/employees/index"
@using AdminDashboard.Wasm.Models.Employee
@inject NavigationManager NavigationManager
@inject HttpClient Http

<h1>Employees</h1>

<div style="margin-bottom: 15px">
    <button class="btn btn-primary" @onclick="@(AddNewEmployee)">Add new employee</button>
</div>

@if (employees == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <MudTable RowStyle="cursor: pointer;" Items="@employees" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info" T="EmployeeDetails" OnRowClick="@(contract => EmployeeDetails(contract))">
        <HeaderContent>
            <MudTh>Id</MudTh>
            <MudTh>Name</MudTh>
            <MudTh>Surname</MudTh>
            <MudTh>EmailAddress</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Id">@context.Id</MudTd>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Surname">@context.Surname</MudTd>
            <MudTd DataLabel="EmailAddress">@context.EmailAddress</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="new int[] { 1, 5, 10 }"/>
        </PagerContent>
    </MudTable>
}

@code {
    private List<EmployeeDetails> employees;

    protected override async Task OnInitializedAsync()
    {
        employees = await Http.GetFromJsonAsync<List<EmployeeDetails>>("/employees/index");
    }

    protected void EmployeeDetails(TableRowClickEventArgs<EmployeeDetails> e)
    {
        NavigationManager.NavigateTo($"/employees/{e.Item.Id}/details");
    }

    protected void AddNewEmployee()
    {
        NavigationManager.NavigateTo("/employees/add");
    }

}