@page "/employees/index"
@using AdminDashboard.Wasm.Models.Employee
@inject NavigationManager NavigationManager
@inject HttpClient Http

<MudText Typo="Typo.h5" Color="Color.Primary" Class="mb-4">Employees</MudText>

<MudButton Icon="@Icons.Material.Filled.Add" Style="margin-bottom: 15px" Color="Color.Primary" OnClick="AddNewEmployee">Add new employee</MudButton>

@if (employees == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <MudTable RowStyle="cursor: pointer;" Items="@employees" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info" T="EmployeeDetails" OnRowClick="@(contract => EmployeeDetails(contract))">
        <HeaderContent>
            <MudTh>Id</MudTh>
            <MudTh>Name</MudTh>
            <MudTh>Surname</MudTh>
            <MudTh>Email Address</MudTh>
            <MudTh>Place Of Work</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Id">@context.Id</MudTd>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Surname">@context.Surname</MudTd>
            <MudTd DataLabel="EmailAddress">@context.Email</MudTd>
            <MudTd DataLabel="EmailAddress">@context.PlaceOfWork</MudTd>
            <MudTd>
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" Size="Size.Small" Class="ma-2" OnClick="@(() => DeleteEmployee(context.WalletAddress))" />
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="new int[] { 1, 5, 10 }" />
        </PagerContent>
    </MudTable>
}

@code {

    private List<EmployeeDetails> employees;

    protected override async Task OnInitializedAsync()
    {

        try
        {
            employees = await Http.GetFromJsonAsync<List<EmployeeDetails>>(Routes.Employee.Index);

            if (employees is null || employees.Count == 0) employees = new List<EmployeeDetails>();
        }
        catch (Exception e)
        {
            throw new Exception();
        }
    }

    protected void EmployeeDetails(TableRowClickEventArgs<EmployeeDetails> e)
    {
        NavigationManager.NavigateTo($"/employees/{e.Item.WalletAddress}/details");
    }

    protected void AddNewEmployee()
    {
        NavigationManager.NavigateTo("/employees/add");
    }

    protected void DeleteEmployee(string walletAddress)
    {
        NavigationManager.NavigateTo($"/employees/{walletAddress}/delete");
    }

}